<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Джуманджи</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
<main class="container">
    <div class="row">
        <div class="col-8 col-lg-4 offset-2 offset-lg-4">
            {% load crispy_forms_tags %}
            {% crispy form 'bootstrap4' %}
        </div>

    </div>
    </div>
</main>
</body>
</html>